body {
    /* Source: iStockPhoto */
    background-image: url('flight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: #343a40 !important;
    opacity: 0.95;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}

input {
    margin-right: 30px;
}

.full-width {
    width: 100%;
}

select {
    height: 40px;
}

.inline {
    display: inline-block;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
    height: 5px;
    background-color: white;
}